@model IEnumerable<DiningTable>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "GetAll";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Tables</h2>
        </div>
        <div class="col-6 text-end">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
            {
                <a href='@Url.Action("Create", "DiningTable")' class="btn btn-primary">Add Table</a>
            }
        </div>
    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Seats
            </th>
            <th>
                Busy
            </th>
            <th>
                Modify
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="10%">
                        @obj.Id
                    </td>
                    <td width="10%">
                        @obj.Seats
                    </td>
                    <td width="30%">
                        @obj.Busy
                    </td>
                    <td width="50%">
                        <a class="btn btn-secondary" asp-controller="DiningTable" asp-action="SetBusy" asp-route-id="@obj.Id">SetBusy</a>
                        <a class="btn btn-warning" asp-controller="DiningTable" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Edit</a>
                        <a class="btn btn-danger" asp-controller="DiningTable" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
