@model IEnumerable<GastroFaza.Models.DTO.WorkerDTO>

@{
    ViewData["Title"] = "Workers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>Workers</h2>
            </div>
            <div class="col-6 text-end">
                <p>
                    <a asp-action="CreateWorkerAccount" asp-controller="Account" class="addOrderButton">Create New</a>
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th style="text-align:center;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                        @Convert.ToDateTime(item.DateOfBirth).ToString("MM/dd/yyyy h:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td width="15%">
                        @for (var i = 0; i < item.Rating; i++)
                        {
                            <span class="rating_res fas fa-star">
                            </span>
                        }
                        @for (var i = 0; i < 5 - item.Rating; i++)
                        {
                            <span class="rating_empty fas fa-star">
                            </span>
                        }
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editButton" style="width:auto;">Edit</a> 
                        <a asp-action="RateWorker" asp-route-id="@item.Id" class="editButton" style="width:auto;">Rate</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="deleteButton" style="width:auto;">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>
