@model IEnumerable<Reservation>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "GetAll";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservations</h2>
        </div>
        <div class="col-6 text-end">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") == "true")
                {
                    <a href='@Url.Action("WorkerCreate", "Reservation")' class="btn btn-primary">Add Reservation</a>
                } else {
                    <a href='@Url.Action("Check", "Reservation")' class="btn btn-primary">Add Reservation</a>
                }
            }
        </div>
    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") == "true")
            {
            <th>
                ClientId
            </th>
            }
            <th>
                TableId
            </th>
            <th>
                Date Of Reservation
            </th>
            @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
            {
            <th>
                Modify
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @if(Model != null){
            @foreach (var obj in Model)
            {
                <tr>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") == "true")@* If user is not Worker *@
                    {
                        <td width="10%">
                            @obj.Id
                        </td>
                        <td width="10%">
                            @obj.ClientId
                    </td>
                    } else {
                        <td width="20%">
                            @obj.Id
                        </td>
                    }
                    <td width="20%">
                        @obj.TableIdContainer
                    </td>

                    @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
                    {
                        <td width="40%">
                            @obj.DataOfReservation.ToString("MM/dd/yyyy HH:mm")
                        </td>
                        <td width="20%">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") == "true")
                            {
                                <a class="btn btn-secondary" asp-controller="Reservation" asp-action="WorkerEdit" asp-route-id="@obj.Id">Edit</a>
                            } else {
                                <a class="btn btn-secondary" asp-controller="Reservation" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                            }
                            <a class="btn btn-danger" asp-controller="Reservation" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td width="60%">
                            @obj.DataOfReservation.ToString("dddd, dd MMMM yyyy")
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
