@model IEnumerable<History>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "History";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>History</h2>
            </div>
            <div class="col-6 text-end">
                @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true")
                {
                    <a class="clearHistoryButton" asp-controller="Order" asp-action="ClearHistory">Clear history</a>
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
               <th>
                    Id
                </th>
                <th>
                    Dishes
                </th>
                <th>
                    Date
                </th>
                <th>

                </th>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true")
                {
                    <th>

                    </th>

                }
                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="10%">
                            @obj.Id
                        </td>
                        <td width="45%">
                            @obj.Dishes
                        </td>
                        <td width="25%">
                            @obj.Date
                        </td>
                        <td width="15%">
                            @for(var i=0; i < @obj.Stars; i++)
                            {
                                <span class="rating_res fas fa-star">
                                </span>   
                            }
                            @for(var i=0; i < 5 - @obj.Stars; i++)
                            {
                                <span class="rating_empty fas fa-star">
                                </span>   
                            } 
                        </td>
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true")
                        {
                            <td width="5%">
                                <a asp-action="RateOrder" asp-route-id="@obj.Id" class="profile_button">Rate</a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</body>

