@model IEnumerable<Dish>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>Orders</h2>
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div style="float:left">
        <div style="float:left">
                @foreach (var obj in Model )
                {
                <div class="menuDishBoxOut">
                    <div class="menuDishBoxIn">
                        <div style="display:block">
                            <h3 class="menuDishDescryptionHeadline">@obj.Name</h3> <br/>
                            <h4 class="menuDishDescryptionBody">
                                @obj.Description
                            </h4> <br/>
                            <h4 class="menuDishDescryptionBody">
                                Price: @obj.Price
                            </h4> <br/>
                            <a href='@Url.Action("RemoveDishFromOrder", "Order", @obj, null)' class="removeFromOrderButton">Remove From Order</a>
                        </div>
                    </div>
                    <br /><br />
                    <div style="width:100%; height:2px; background-color:white;"></div>
                    <br /><br />
                </div>            
                }
            
        </div>
       
         @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
            {
            <div style="float:left">
                <div style="float:left">
                    <a href='@Url.Action("GetAll", "Dish")' class="addToOrderButton">Add To Order</a>
                </div>
                <div style="float:right">
                    <a href='@Url.Action("ChooseOption", "Order")' class="addToOrderButton">Confirm Order</a>
                </div>
            </div>
            }
            else
            {
                <div style="float:left"><br/> <br/>
                    <a href='@Url.Action("Login", "Account")' class="confirmOrderButton">Login To Order</a>
                </div>
            }
    </div>
</body>