@model IEnumerable<Dish>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Orders</h2>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>
</div>
<br />
<br />
<br />
<div style="float:left">
    <div style="float:left">
            @foreach (var obj in Model )
            {
                <table class="table table-bordered" style="margin-left:10px">
                    <tr>
                        <th>
                            @obj.Name
                            <br />
                            <br />
                            @obj.Price
                            <br />
                            <br />
                            <a href='@Url.Action("RemoveDishFromOrder", "Order", @obj, null)' class="remove_from_order_button">Remove From Order</a>
                        </th>
                    </tr>
                </table>
            }
    </div>
    <br /><br /><br />


     @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
        {
            <div style="float:left">
                <a href='@Url.Action("GetAll", "Dish")' class="add_to_order_button">Add To Order</a>
            </div>
            <div style="float:right">
                <a href='@Url.Action("PayForOrder", "Order")' class="confirm_order_button">Confirm Order</a>
            </div>
        }
        else
        {
            <div style="float:left">
                <a href='@Url.Action("Login", "Account")' class="btn btn-primary">Login To Order</a>
            </div>
        }
</div>