@model IEnumerable<Dish>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order";
}

<style>
    #table {
        width ="150";
        height ="250";
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Orders</h2>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>
</div>
<br />
<br />
<br />
<div style="float:left">
    <div style="float:left">

        @foreach (var obj in Model )
        {
            <table class="table table-bordered" id=table>
                <tr>
                    <th>
                        @obj.Name
                        <br />
                        <br />
                        @obj.Price
                        <br />
                        <br />
                        @Html.ActionLink("Remove From Order", "RemoveDishFromOrder", "Order", @obj, null)
                    </th>
                </tr>
            </table>
        }
    </div>
    <div style="float:left">
        @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
        {
            @Html.ActionLink("Add To Order", "GetAll", "Dish", null)
        }
        else
        {
            
            @Html.ActionLink("Add To Order", "Login", "Account", null)
        }
    </div>
    <div style="float:right">
        <input type="submit" value="Pay for order" class="btn btn-primary" />
    </div>
</div>