@model GastroFaza.Models.DTO.OrderDetailsDto
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "OrderDetails";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>Orders</h2>
            </div>
            <div class="text-light"> User Id: @Model.ClientId <br />
            User Email: @Model.Email <br />
            User First Name: @Model.FirstName <br />
            User Last Name: @Model.LastName <br />
            Order Id: @Model.OrderId <br />
            Order Status: @Model.Status <br />
            Order Description: @Model.Description <br />
            Order Price: @Model.Price <br />
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div style="float:left">
        <div style="float:left">

            @foreach (var obj in Model.Dishes)
            {
                <table>
                    <tr>
                        <th>
                            <div class="clientsOrderBox">
                            <div class="text-light"> Dish Name: @obj.Name </div>
                            <br />
                            <br />
                            <div class="text-light"> Dish Price: @obj.Price </div>
                            <br />
                            <br />
                            <div class="text-light"> Dish Description: @obj.Description </div>
                            </div>
                            <div style="width:100%; height:2px; background-color:white;"></div>
                        </th>
                    </tr>
                </table>
            }
        </div>
        <div style="float:right">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("OrderStatus") == "Preparing") @* Sprawdzenie czy order jest przygotowywany -> wtedy wyświetla guzik "oznacz jako gotowe do odebrania"  *@
                {
                    <a href='@Url.Action("OrderIsReady", "Order",new {OrderId=int.Parse(@HttpContextAccessor.HttpContext.Session.GetString("orderId"))})' class="btn btn-primary">Order Is Ready</a>
                }
            </div>
    </div>
</body>