@model IEnumerable<Dish>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Search";
}

<style>
    #table {
        width ="150";
        height ="250";
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu</h2>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>
</div>
<br />
<br />
<br />
<div style="float:left">
    @foreach (var obj in Model)
    {
        <div style="float:left">
            <table class="table table-bordered" id=table>
                <tr>
                    <th>
                        <img src="~/Images/@obj.ProfileImg" width="150" height="150" asp-append-version="true" />
                        <br />
                        @obj.Name
                        <br />
                        @obj.Description
                        <br />
                        Price: @obj.Price
                        <br />
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
                        {
                            if (@HttpContextAccessor.HttpContext.Session.GetString("current order") != null)
                            {
                                <a href='@Url.Action("AddToOrder", "Dish", new { dishId = @obj.Id }, null)' class="btn btn-primary">Add To Order</a>
                            }
                        }

                    </th>
                </tr>
            </table>
        </div>
    }
</div>