@model IEnumerable<GastroFaza.Models.Dish>

@{
    ViewData["Title"] = "Dishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>All Dishes</h2>
            </div>
            <div class="col-6 text-end">
                <p>
                    <a asp-action="Create" class="addOrderButton">Create New</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 text-end">
        <form class="d-flex" method="post" action="@Url.Action("SearchMenu", "Dish")">
            <input class="form-control me-sm-2" type="text" name="name" placeholder="Search Dish by Name">
            <button class="addOrderButton" type="submit">Search</button>
        </form>
       
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfileImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishType)
                </th>
                <th style="text-align:center;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        <img alt="Img" src='@Url.Content("~/Images/"+item.ProfileImg)' width="160" height="90" asp-append-version="true">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editButton" style="width:auto;">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="deleteButton" style="width:auto;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>



