<!DOCTYPE html>
@inject IHttpContextAccessor HttpContextAccessor
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GastroFaza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/GastroFaza.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="70px" width="200px" src="~/css/Images/GastroFaza.png" alt="GastroFaza" /></a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true") @* If user is not a Worker *@
                        {
                            <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Dish" asp-action="GetAll">Menu</a></li>
                            if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null)
                            {
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="Order">Your orders</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Reservation" asp-action="GetAll">Your reservations</a></li>
                            }
                        }
                        else
                        {
                            @if(HttpContextAccessor.HttpContext.Session.GetString("Role")=="Manager")@* If worker is a Manager*@
                            {
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Dish" asp-action="SearchMenu">Manage Menu</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Table" asp-action="SearchTable">Manage Tables</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Reservation" asp-action="GetAllReservations">Manage Reservations</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="GetAllOrders">Manage Orders</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Worker" asp-action="GetAll">Manage Workers</a></li>
                                <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Restaurant" asp-action="RestaurantDetails">Manage Restaurant</a></li>
                            }
                            else
                            {

                                @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Waiter") @* If worker is a Waiter*@
                                {
                                    <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Reservation" asp-action="GetAll">Clients Reservations</a></li>
                                    <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="ClientsOrders">Clients Orders</a></li>
                                    <li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="DiningTable" asp-action="GetAll">Tables</a></li>
                                }
                            }
                        }

                    </ul>

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
