@model IEnumerable<GastroFaza.Models.DiningTable>

@{
    ViewData["Title"] = "GetAllTables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All Tables</h2>
        </div>
        <div class="col-6 text-end">
            <form class="d-flex" method="post" action="@Url.Action("SearchMenu", "Dish")">
                <input class="form-control me-sm-2" type="text" name="id" placeholder="Search Index">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>






<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Busy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Busy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
