@model IEnumerable<GastroFaza.Models.DiningTable>

@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>All Tables</h2>
            </div>
            <div class="col-6 text-end">
                <form class="d-flex" method="post" action="@Url.Action("SearchTable", "Table")">
                    <input class="form-control me-sm-2" type="text" name="id" placeholder="Search Index">
                    <button class="profile_button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <p>
        <a asp-action="Create" class="profile_button">Create New</a>
    </p>






    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Busy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seats)
                </th>
                <th style="text-align:center;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Busy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                        <div class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="profile_button">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="edit_profile_back_button">Delete</a>
                        </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>
